[submodule "external/mpack"]
	path = external/mpack
	url = https://github.com/ludocode/mpack
[submodule "external/cJSON"]
	path = external/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/ARMmbed/mbedtls
