[submodule "external/mpack"]
	path = external/mpack
	url = https://github.com/ludocode/mpack
[submodule "external/lwip"]
	path = external/lwip
	url = https://github.com/lwip-tcpip/lwip
[submodule "external/cJSON"]
	path = external/cJSON
	url = git@github.com:DaveGamble/cJSON.git
